{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'av/css/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="/static/av/js/base.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Tangsa:wght@500&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>{% block title %}Av Car{% endblock %}</title>
</head>
<body>
    <header class="header">
      <div class="header__container">
        <div class="header__logo">
          <a class="header__logo-wrap">
            <svg
              aria-hidden="true"
              height="27"
              viewBox="0 0 82 27"
              width="82"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="m66.337 4.606 5.298 11.287 5.413-11.287H82L71.406 26.488h-4.724l2.65-5.412-7.947-16.47h4.952zm-57.18-.46c5.087 0 9.27 3.916 9.27 9.098v8.638h-2.826l-1.583-.921c-1.357.921-3.052 1.382-4.748 1.382-5.087 0-9.27-3.916-9.27-9.099 0-5.182 4.07-9.098 9.157-9.098zm29.424 12.208a2.994 2.994 0 1 1 0 5.988 2.994 2.994 0 0 1 0-5.988zM47.22 0v5.527c1.38-.92 3.108-1.38 4.836-1.38 5.182 0 9.33 3.915 9.56 9.097 0 5.183-4.261 9.099-9.444 9.099-5.086 0-9.287-3.772-9.44-8.812l-.005-.287V0h4.493zM23.84 4.606l5.297 11.287 5.298-11.287h4.953L30.98 21.882h-3.8L18.772 4.606h5.068zM9.27 8.177c-2.713 0-4.974 2.303-4.974 5.067 0 2.765 2.26 5.068 4.974 5.068 2.713 0 4.861-2.303 4.974-5.068 0-2.764-2.26-5.067-4.974-5.067zm42.786 0c-2.763 0-5.066 2.303-5.066 5.067 0 2.765 2.303 5.068 5.066 5.068 2.764 0 4.953-2.303 5.067-5.068 0-2.764-2.303-5.067-5.067-5.067z"
              ></path>
            </svg>
          </a>
        </div>
        <nav class="nav">
          <ul class="nav__main">
            <li class="nav__item nav__item--dropdown">
              <a href="{% url 'cars' %}" class="nav__link">
                <span class="nav__link-text">Объявления</span>
              </a>
              <div class="nav__dropdown">
                <div class="nav__dropdown-section">
                  <ul class="nav__dropdown-list">
                    <li class="nav__dropdown-item">
                      <a href="https://cars.av.by" class="nav__dropdown-link">
                        <span class="nav__dropdown-text">
                          Автомобили с пробегом
                        </span>
                      </a>
                    </li>
                    <li class="nav__dropdown-item">
                      <a href="https://salon.av.by" class="nav__dropdown-link">
                        <span class="nav__dropdown-text">Новые автомобили</span>
                      </a>
                    </li>
                    <li class="nav__dropdown-item nav__dropdown-item--electro">
                      <a
                        href="https://cars.av.by/electrocars"
                        class="nav__dropdown-link"
                      >
                        <span class="nav__dropdown-text">Электромобили</span>
                      </a>
                    </li>
                    <li class="nav__dropdown-item">
                      <a href="https://truck.av.by" class="nav__dropdown-link">
                        <span class="nav__dropdown-text">Грузовой транспорт</span>
                      </a>
                    </li>
                    <li class="nav__dropdown-item">
                      <a href="https://moto.av.by" class="nav__dropdown-link">
                        <span class="nav__dropdown-text">Мототехника</span>
                      </a>
                    </li>
                    <li class="nav__dropdown-item">
                      <a href="https://agro.av.by" class="nav__dropdown-link">
                        <span class="nav__dropdown-text">Сельхозтехника</span>
                      </a>
                    </li>
                    <li class="nav__dropdown-item">
                      <a href="https://spec.av.by" class="nav__dropdown-link">
                        <span class="nav__dropdown-text">Спецтехника</span>
                      </a>
                    </li>
                    <li class="nav__dropdown-item">
                      <a href="https://trailer.av.by" class="nav__dropdown-link">
                        <span class="nav__dropdown-text">
                          Прицепы и полуприцепы
                        </span>
                      </a>
                    </li>
                    <li class="nav__dropdown-item">
                      <a href="https://bus.av.by" class="nav__dropdown-link">
                        <span class="nav__dropdown-text">Автобусы</span>
                      </a>
                    </li>
                    <li class="nav__dropdown-item">
                      <a href="https://boat.av.by" class="nav__dropdown-link">
                        <span class="nav__dropdown-text">Водный транспорт</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="nav__dropdown-section">
                  <ul class="nav__dropdown-list">
                    <li class="nav__dropdown-item">
                      <a href="https://parts.av.by" class="nav__dropdown-link">
                        <span class="nav__dropdown-text">
                          Б/у запчасти для авто
                        </span>
                      </a>
                    </li>
                    <li class="nav__dropdown-item">
                      <a
                        href="https://parts.av.by/accessories"
                        class="nav__dropdown-link"
                      >
                        <span class="nav__dropdown-text">
                          Автотовары и расходники
                        </span>
                      </a>
                    </li>
                    <li class="nav__dropdown-item">
                      <a href="https://koleso.av.by" class="nav__dropdown-link">
                        <span class="nav__dropdown-text">Шины и диски</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav__item nav__item--dropdown">
              <a class="nav__link" href="/vin">
                <span class="nav__link-text">Сервисы</span>
              </a>
              <div class="nav__dropdown">
                <div class="nav__dropdown-section">
                  <ul class="nav__dropdown-list">
                    <li class="nav__dropdown-item">
                      <a class="nav__dropdown-link" href="/vin">
                        <span class="nav__dropdown-text">Проверка VIN</span>
                      </a>
                    </li>
                    <li class="nav__dropdown-item">
                      <a class="nav__dropdown-link" href="/finance">
                        <span class="nav__dropdown-text">Финансы</span>
                      </a>
                    </li>
                    <li class="nav__dropdown-item">
                      <a class="nav__dropdown-link" href="/ocenka-avto">
                        <span class="nav__dropdown-text">
                          Оценка стоимости автомобиля
                        </span>
                      </a>
                    </li>
                    <li class="nav__dropdown-item">
                      <a class="nav__dropdown-link" href="/catalog">
                        <span class="nav__dropdown-text">Каталог модификаций</span>
                      </a>
                    </li>
                    <li class="nav__dropdown-item">
                      <a class="nav__dropdown-link" href="/customs-calculator">
                        <span class="nav__dropdown-text">
                          Таможенный калькулятор
                        </span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="/news">
                <span class="nav__link-text">Журнал</span>
              </a>
            </li>
            <li class="nav__item nav__item--dropdown">
              <a href="https://av.by/pages/info" class="nav__link">
                <span class="nav__link-text">Знания</span>
              </a>
              <div class="nav__dropdown">
                <div class="nav__dropdown-section">
                  <ul class="nav__dropdown-list">
                    <li class="nav__dropdown-item">
                      <a
                        href="https://av.by/pages/kak_prodat_avtomobil"
                        class="nav__dropdown-link"
                      >
                        <span class="nav__dropdown-text">Продажа автомобиля</span>
                      </a>
                    </li>
                    <li class="nav__dropdown-item">
                      <a
                        href="https://av.by/pages/kak_pravilno_pokupat_avto"
                        class="nav__dropdown-link"
                      >
                        <span class="nav__dropdown-text">Покупка автомобиля</span>
                      </a>
                    </li>
                    <li class="nav__dropdown-item">
                      <a
                        href="https://av.by/pages/buy-sell"
                        class="nav__dropdown-link"
                      >
                        <span class="nav__dropdown-text">Сделка купли-продажи</span>
                      </a>
                    </li>
                    <li class="nav__dropdown-item">
                      <a
                        href="https://av.by/pages/taxes"
                        class="nav__dropdown-link"
                      >
                        <span class="nav__dropdown-text">Налоги и сборы</span>
                      </a>
                    </li>
                    <li class="nav__dropdown-item">
                      <a
                        href="https://av.by/pages/tehosmotr"
                        class="nav__dropdown-link"
                      >
                        <span class="nav__dropdown-text">Техосмотр</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="/company">
                <span class="nav__link-text">Услуги</span>
              </a>
            </li>
            <li class="nav__item nav__item--alt">
              <a class="nav__link" title="Проверка VIN" href="/vin">
                <span class="nav__link-text">Проверка VIN</span>
              </a>
            </li>
          </ul>
          <ul class="nav__personal">
            {% if user.is_authenticated %}
              <a1 style="color: #5959d7;">Привет {{ user.username }}</a1>
            {% else %}
              <li class="nav__item nav__item--login">
              <a class="nav__link" href="{% url 'logout' %}" rel="nofollow">
                <span class="nav__link-text">Войти</span>
              </a>
            </li>
            {% endif %}
            <li class="nav__item nav__item--add">
              {% if user.is_authenticated %}
                <button
                  class="button button--primary button--block button--small"
                  type="button"
                  rel="nofollow"
                  id="myButton"
                >
                  <span class="button__text">Подать объявление</span>
                </button>
                <script>
                  document.getElementById('myButton').addEventListener('click', function() {
                    window.location.href = 'http://127.0.0.1:8000/admin/';
                  });
                </script>
              {% else %}
                <button
                  class="button button--primary button--block button--small"
                  type="button"
                  rel="nofollow"
                  id="myButton1"
                >
                  <span class="button__text">Подать объявление</span>
                </button>
                <script>
                  document.getElementById('myButton').addEventListener('click', function() {
                    window.location.href="{% url 'logout' %}";
                  });
                </script>
              {% endif %}
            </li>
          </ul>
        </nav>
      </div>
    </header>
<reklama>
  <a class="top-article__link" href="/news/rn-diler-o-pochti-novykh-avto-v-kredit">
    <div class="top-article__image"><img alt="Фото для статьи &quot;«Надоела старая машина&nbsp;— обновлю!» Дилер о&nbsp;почти новых авто в&nbsp;кредит под 0% годовых в&nbsp;первые 180&nbsp;дней&quot;" src="https://avcdn.av.by/journalarticlepreviewmedium/0003/5039/4867.jpg" style="margin-left: 400px;width: 750px;height: 450px;"></div>
    <div class="top-article__info"><h3 class="top-article__title" style="text-align: center;">«Надоела старая машина&nbsp;— обновлю!» Дилер о&nbsp;почти новых авто в&nbsp;кредит под 0% годовых в&nbsp;первые 180&nbsp;дней </h3><div class="top-article__views" style="text-align: center;"><svg aria-hidden="true" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg" fill="currentcolor"><path d="M4.7 9.714c1.1-1.2 2.3-2.2 3.7-2.8 4-2 8.4-.8 12.6 4.4l.5.6s-2.3 2.6-3 3.2c-4.9 4-10.2 4-15.1-2.6l-.4-.6.4-.6c.2-.3.6-.9 1.3-1.6zm8.654-1.611A2.007 2.007 0 0 0 12.2 9.914c0 1.1.9 2 2 2 .3 0 .5 0 .7-.1-.5 1.2-1.8 2.1-3.2 2.1-1.9 0-3.5-1.6-3.5-3.5 0-.486.105-.952.292-1.377A11.595 11.595 0 0 0 6.2 11.014c-.3.3-.6.6-.8.9 4 5 7.9 4.9 11.8 1.7.6-.5 1.7-1.7 1.7-1.7-1.935-2.211-3.778-3.414-5.546-3.811z"></path></svg>
      <span>6 615</span>
    </div>
    </div>
  </a>

</reklama>
<main>
  {% block car %} {% endblock car %}
</main>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary">© 2024 Company, Inc</p>

    <img src="/static/av/img/logo.png" alt="Лого" style="width: 120px;height: 60px;"/>

    <a href="https://t.me/Av_car_test_car_bot" target="_blank" title="Telegram">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="blue" class="bi bi-telegram" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
        </svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Главная</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Характеристики</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Цены</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Вопросы и ответы</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">О нас</a></li>

    </ul>
  </footer>
</div>

</body>
</html>
